apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: authentik-secret
  namespace: security
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler-auth-api
  target:
    name: authentik-secret
    creationPolicy: Owner
  data:
    - secretKey: AUTHENTIK_SECRET_KEY
      remoteRef:
        key: AUTHENTIK_SECRET_KEY
    - secretKey: AUTHENTIK_POSTGRES_PASSWORD
      remoteRef:
        key: AUTHENTIK_POSTGRES_PASSWORD
    - secretKey: AUTHENTIK_REDIS_PASSWORD
      remoteRef:
        key: AUTHENTIK_REDIS_PASSWORD
