apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: authentik-db-credentials
  namespace: security
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler
  target:
    name: authentik-db-app
    creationPolicy: Owner
  data:
    - secretKey: password
      remoteRef:
        key: AUTHENTIK_DB_PASSWORD
