apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kyverno
  namespace: kyverno
spec:
  releaseName: kyverno
  targetNamespace: kyverno
  interval: 1h
  timeout: 10m
  chart:
    spec:
      chart: kyverno
      version: "3.2.x" # Uses latest 3.2.x version
      sourceRef:
        kind: HelmRepository
        name: kyverno
        namespace: kyverno
  values:
    admissionController:
      replicas: 2
      # Allows Kyverno pods to run even if PSA enforce is set to somewhat restrictive
    backgroundController:
      replicas: 2
    reportsController:
      replicas: 2
    cleanupController:
      replicas: 2
  install:
    createNamespace: false
    remediation:
      retries: 3
      remediateLastFailure: true
  upgrade:
    force: false
    remediation:
      retries: 3
      remediateLastFailure: true
  driftDetection:
    mode: enabled
