apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homarr
  namespace: public
spec:
  interval: 1h
  releaseName: homarr
  chart:
    spec:
      chart: homarr
      version: "8.11.0"
      sourceRef:
        kind: HelmRepository
        name: homarr
        namespace: flux-system
  values:
    rbac:
      enabled: true

    service:
      main:
        ports:
          http:
            port: 3000

    ingress:
      main:
        enabled: true
        ingressClassName: traefik
        hosts:
          - host: home.smadja.dev
            paths:
              - path: /
                pathType: Prefix

    persistence:
      data:
        enabled: true
        size: 1Gi
        storageClass: oci-bv

    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 512Mi
