apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: velero-s3-credentials
  namespace: velero
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: doppler
    kind: ClusterSecretStore
  target:
    name: velero-s3-credentials
    creationPolicy: Owner
  data:
    - secretKey: cloud
      remoteRef:
        key: VELERO_AWS_CREDENTIALS
