apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: velero
  namespace: velero
spec:
  interval: 1h
  chart:
    spec:
      chart: velero
      version: 8.3.0 # Update if needed to latest compatible
      sourceRef:
        kind: HelmRepository
        name: velero
        namespace: flux-system
      interval: 1h
  values:
    initContainers:
      - name: velero-plugin-for-aws
        image: velero/velero-plugin-for-aws:v1.11.0 # Compatible with Velero 1.15
        imagePullPolicy: IfNotPresent
        volumeMounts:
          - mountPath: /target
            name: plugins
    credentials:
      useSecret: true
      existingSecret: velero-s3-credentials
    configuration:
      provider: aws
      backupStorageLocation:
        - name: default
          provider: aws
          bucket: velero-backups
          config:
            region: eu-paris-1
            s3ForcePathStyle: true
            s3Url: https://YOUR_OCI_NAMESPACE.compat.objectstorage.eu-paris-1.oraclecloud.com # Will be swapped via env or kept here if ok. We can leave it for manual replacement or use Doppler to template it
      volumeSnapshotLocation:
        - name: default
          provider: aws
          config:
            region: eu-paris-1
    deployNodeAgent: true
    nodeAgent:
      podVolumePath: /var/lib/kubelet/pods
      privileged: true
    # Use Restic / Kopia for PV backups
    useNodeAgent: true
