apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: actual-budget
  namespace: finance
spec:
  interval: 1h
  chart:
    spec:
      chart: app-template
      version: 3.2.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: actualbudget/actual-server
              tag: latest
            env:
              PORT: 5006
    service:
      main:
        ports:
          http:
            port: 5006
