apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: paperless-ngx
  namespace: business
spec:
  interval: 1h
  chart:
    spec:
      chart: app-template
      version: 3.2.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: latest
            env:
              PAPERLESS_URL: "https://paperless.smadja.dev"
              USERMAP_UID: "1000"
              USERMAP_GID: "1000"
    service:
      main:
        ports:
          http:
            port: 8000
