apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-secrets
  namespace: external-secrets
spec:
  releaseName: external-secrets
  targetNamespace: external-secrets
  interval: 10m
  timeout: 10m
  chart:
    spec:
      chart: external-secrets
      version: 2.0.1
      sourceRef:
        kind: HelmRepository
        name: external-secrets
        namespace: flux-system
  values:
    installCRDs: true
    webhook:
      create: true
      resources:
        requests:
          cpu: 50m
          memory: 128Mi
        limits:
          memory: 256Mi
    certController:
      create: true
      resources:
        requests:
          cpu: 50m
          memory: 128Mi
        limits:
          memory: 256Mi
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        memory: 256Mi
  install:
    createNamespace: true
    remediation:
      retries: -1
      remediateLastFailure: true
  upgrade:
    force: true
    remediation:
      retries: 3
      remediateLastFailure: true
      strategy: rollback
  test:
    enable: true
  driftDetection:
    mode: enabled
