apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: external-secrets
  namespace: external-secrets
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: external-secrets
