apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vikunja
  namespace: business
spec:
  interval: 1h
  chart:
    spec:
      chart: app-template
      version: "3.2.1"
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    controllers:
      vikunja:
        containers:
          app:
            image:
              repository: vikunja/vikunja
              tag: 0.24.2
            env:
              VIKUNJA_DATABASE_TYPE: postgres
              VIKUNJA_DATABASE_HOST: vikunja-db-rw.business.svc.cluster.local
              VIKUNJA_DATABASE_DATABASE: vikunja
              VIKUNJA_DATABASE_USER: vikunja
              VIKUNJA_DATABASE_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: vikunja-db-app
                    key: password
              VIKUNJA_REDIS_ENABLED: "true"
              VIKUNJA_REDIS_HOST: redis-master.infra.svc.cluster.local:6379
              VIKUNJA_SERVICE_JWTSECRET:
                valueFrom:
                  secretKeyRef:
                    name: vikunja-secrets
                    key: JWT_SECRET
    service:
      app:
        controller: vikunja
        ports:
          http:
            port: 3456
    persistence:
      files:
        enabled: true
        type: emptyDir
