apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
  namespace: public
spec:
  interval: 1h
  chart:
    spec:
      chart: immich
      version: "0.8.0"
      sourceRef:
        kind: HelmRepository
        name: immich
        namespace: flux-system
  values:
    # Requires Postgres and Redis
    image:
      tag: v1.115.0
    server:
      enabled: true
    machine-learning:
      enabled: true
    redis:
      enabled: true
    postgresql:
      enabled: true
