apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: umami
  namespace: business
spec:
  interval: 1h
  chart:
    spec:
      chart: app-template
      version: "3.2.1"
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    controllers:
      umami:
        containers:
          app:
            image:
              repository: ghcr.io/umami-software/umami
              tag: postgresql-v2.12.1
            env:
              DATABASE_URL:
                valueFrom:
                  secretKeyRef:
                    name: umami-db-app
                    key: uri
              APP_SECRET:
                valueFrom:
                  secretKeyRef:
                    name: umami-secrets
                    key: APP_SECRET
    service:
      app:
        controller: umami
        ports:
          http:
            port: 3000
