apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: navidrome
  namespace: media
spec:
  interval: 1h
  chart:
    spec:
      chart: app-template
      version: "3.2.1"
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    controllers:
      navidrome:
        containers:
          app:
            image:
              repository: ghcr.io/navidrome/navidrome
              tag: latest
            env:
              ND_SCANSCHEDULE: 1h
              ND_LOGLEVEL: info
              ND_BASEURL: ""
            envFrom:
              - secretRef:
                  name: navidrome-secrets
    service:
      app:
        controller: navidrome
        ports:
          http:
            port: 4533
    persistence:
      config:
        existingClaim: navidrome-config
      music:
        existingClaim: navidrome-music
        globalMounts:
          - path: /music
