talos-proxmox-talos-1.mafyuh.com.yaml
talos-proxmox-talos-2.mafyuh.com.yaml
talos-proxmox-talos-3.mafyuh.com.yaml
talosconfig
optiplex-k8s-talos-1.mafyuh.com.yaml
optiplex-k8s-talos-2.mafyuh.com.yaml
optiplex-k8s-talos-3.mafyuh.com.yaml
