apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: lidarr
  namespace: media
spec:
  interval: 1h
  chart:
    spec:
      chart: app-template
      version: "3.2.1"
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    controllers:
      lidarr:
        containers:
          app:
            image:
              repository: lscr.io/linuxserver/lidarr
              tag: latest
            env:
              TZ: Europe/Paris
            envFrom:
              - secretRef:
                  name: lidarr-secrets
    service:
      app:
        controller: lidarr
        ports:
          http:
            port: 8686
    persistence:
      config:
        existingClaim: lidarr-config
      media:
        existingClaim: lidarr-media
