name: Renovate

on:
  schedule:
    - cron: '0 2 * * *'
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Renovate
        uses: renovatebot/github-action@v40
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
        env:
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          RENOVATE_PLATFORM: github
          RENOVATE_AUTODISCOVER: false
          RENOVATE_AUTOMERGE: "true"
          RENOVATE_AUTOMERGE_TYPE: "pr"
          RENOVATE_AUTOMERGE_STRATEGY: "auto"
